
#root{
  background-color: #F5F5F5;
}
.main-dashboard{
  margin: 0 auto;
  width: 95vw;
}


p,h1,h2,h3,h4,h5,span{
  letter-spacing: 0.025em;
}

.relative.flex.max-h-\[90dvh\].flex-col.rounded-lg.bg-white.shadow.dark\:bg-gray-700{
  height: 100vh;
}


/*upcoming events join button ToolTip styles*/
#joinbuttontooltip .w-fit a{
  padding: 5px 13px;
}
/*Modal styles*/

#modalbody{
  padding: 10px 50px 50px 50px;
}

#modalFormBookButton{
  margin-top: 50px;
}

/*Settings Modal styles*/
.settingsModal button[aria-label = "Close"]{
  background-color: #422d2a;
  color: #ffffff;
}

/*modal tabs style because of tooltip*/
.formTabs .w-fit{
  width: -webkit-fill-available;
}
#settingsTooltip .w-fit{
  width: -webkit-fill-available;
}

/*Events styles*/
.rbc-time-gutter.rbc-time-column{
  background-color: #e8f4fd;
}

.rbc-row.rbc-time-header-cell{
  background-color: #e8f4fd;
}


.rbc-event-label{
  display: none !important;
}

.rbc-timeslot-group{
  min-height: 55px !important;
}

.rbc-day-slot .rbc-event-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rbc-events-container{
  margin-right: 0px !important;
}

.rbc-allday-cell {
  display: none;
}

.rbc-event {
  width: 100% !important;
  left: 0 !important;
}

.rbc-current-time-indicator{
  z-index: 1000 !important;
  height: 2px !important;
  z-index: 3000 !important;
  background-color: #422d2a !important;
}


/*google login button*/
#googleloginbutton{
  border:'1px solid #583531';
}

#googleloginbutton:hover{
  border:'1px solid #008080';
}

/*dashboardDropdown*/


div[data-testid="flowbite-dropdown"] ul{
  padding: 10px;
}


/*zoom video styles*/
.single-main-container__main-view video{
  height: 672px !important;;
}

.loading-img{
  margin: auto;
}

.preview-meeting-info .preview-agreement{
  text-align: center;
}

.preview-meeting-info .preview-join-button{
  background-color: #008080 !important;
  font-size: 18px !important;
  height: 55px !important;
  &:hover{
    background-color: #016f6f !important;
  }
}

.preview-root{
  background-color: #F5F5F5 !important;
}


.meeting-header.zoom-meetingsdk-meeting-header{
  background-color: #016f6f;
  padding: 35px 10px;
}

#wc-footer #foot-bar{
  background-color: #016f6f;
}

.participants-section-container__participants-footer-bottom.window-content-bottom{
  display: none;
}

#CustomBox{
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0%;
  min-width: 250px;
  height: 50px;
  margin: 10px;
}
#CustomBox p{
  margin: auto 0;
}

#myCustomHeader{
  height: 50px;
  box-shadow: 0px 0px 54px 4px #422d2a57;
}

#customTimer{
  height: 50px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 0px 54px 4px #422d2a57;
}


/*FAQ component styles*/

.wrapper {
  /* background-color: #422d2a; */
  /* border: 2px solid #016f6f; */
  margin: 0px;
  color: #422d2a;
  border-radius: 8px;
  border-top: 2px solid #016f6f;
  overflow: hidden;
}

.wrapper .question-container {
  width: 100%;
  text-align: left;
  padding: 20px 30px;
  color: #422d2a;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.wrapper .arrow {
  font-size: 2rem;
  transition: .5s ease-in-out;
}

.arrow.active {
  rotate: 180deg;
}

.wrapper .answer-container {
  padding: 0 2rem;
  transition: height .7s ease-in-out;
}

.wrapper .answer-content {
  padding: 2rem 0;
  text-align: left;
  
  color: gray;
  font-size: 19px;
}

#inVideoModal{
  height:max-content !important;
}


/*privacy page table style*/
.wp-block-table td, .wp-block-table th {
  border: 1px solid #c6c6c6;
  padding: .5em;
  color: #6B7280;
  font-size: 16px;
}


/*Dashboard column text style*/
.column-text{
  font-size: 16px;
}

/*DashboardInnerNav*/
.active{
  color: #008080;
}

.inactive{
  color: #422d2a;
}
#innerDashboardNavbar{
  display: inline-flex;
  align-items: center;
}
.inactive:hover{
  color: #008080;
}


/*Video SDK related styles*/
.str-video__composite-button[title="Record call"]{
  display: none; 
}

span.str-video__participant-details__name{
  color: white;
}

#videoSDKchatcontrol{
  font-weight: 400;
}

#videoSDKchatcontrol div[data-testid="flowbite-tooltip-arrow"]{
  background-color: #323B44;
}

#VideoSDKfooter .str-video__icon{
  width: 1.40rem;
  height: 1.40rem;
}

ul.str-video__generic-menu{
  background-color:  white;
}

li.str-video__generic-menu--item button{
  color: white;
}

.str-video__menu-container ul.str-video__generic-menu li.str-video__generic-menu--item button{
  color: white;
}


.bg-gray-900\/50.dark\:bg-gray-900\/80.fixed.inset-0.z-30{
  background-color: transparent;
  }

  /* button.str-video__call-controls__button{
    display: none;
  }
  
  button.str-video__call-controls__button.str-video__menu-toggle-button{
    display: block;
  }
  
  button.str-video__call-controls__button.str-video__call-controls__button--variant-danger{
    display: block;
  } */
  

  .str-video__participant-view{
    width: 100% !important;
    height: auto !important;
    max-width: 75vw !important;
    max-height: 80vh !important;
  }
 

  .str-video__speaker-layout__participants-bar-buttons-wrapper{
    position: absolute !important;
    bottom: 15% !important;
  }


  .str-video__speaker-layout .str-video__speaker-layout__participants-bar-wrapper .str-video__speaker-layout__participants-bar{
    flex-direction: column !important;
  }


  .str-video__generic-menu--item:has(button > span.str-video__icon--pin) {
    display: none;
}
  .str-video__generic-menu--item:has(button > span.str-video__icon--not-allowed) {
    display: none;
}
  .str-video__generic-menu--item:has(button > span.str-video__icon--camera-off-outline) {
    display: none;
}
  .str-video__generic-menu--item:has(button > span.str-video__icon--no-audio) {
    display: none;
}

  .str-video__generic-menu li:nth-child(8),
.str-video__generic-menu li:nth-child(9),
.str-video__generic-menu li:nth-child(10),
.str-video__generic-menu li:nth-child(11),
.str-video__generic-menu li:nth-child(12),
.str-video__generic-menu li:nth-child(13)
{
    display: none;
}

.str-video__speaker-layout .str-video__speaker-layout__participants-bar-buttons-wrapper .str-video__speaker-layout__participants-bar--button-right{
  display: none !important;
}


/*Chat related styles*/
.str-chat.messaging.light.str-chat-channel.str-chat__channel{
  /* background-color: #151D2A !important; */
  border-radius: 10px;
}
/* 
.str-chat__container{
  background-color: #151D2A;
} */
.str-chat__container .str-chat__header-livestream.str-chat__channel-header{
  /* background-color: #151D2A; */
  /* color: white; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 20px 0px 20px;
}
 .str-chat__container .str-chat__list{
  padding: 0px 10px;
}

.str-video__notification{
  color: white
}

.str-chat__container .str-chat__message-input{
  /* background-color: #151D2A !important; */
  /* color: white !important; */
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px;
  padding: 10px 20px 20px 20px;
}


span.str-video__participant-details__connection-quality.str-video__participant-details__connection-quality--good{
  width: min-content;
}

/* #video-chat-drawer{
  z-index: 4000;
}

#session-timer{
  z-index: 1000;
} */

/*OFF tag */
.h-black-friday-discount-tag__text--neon[data-v-f276a9ad]{
  background-color: red;
    color: #ffffff;
    font-size: 16px;
}

.h-black-friday-discount-tag__text[data-v-f276a9ad]{
  align-items: center;
    border-radius: 0 5px 5px 0;
    display: flex;
    height: 39px;
    margin-left: -2px;
    padding: 10px 20px 10px 8px;
    white-space: nowrap;
}

.h-black-friday-discount-tag__icon[data-v-f276a9ad]{
  display: flex;
}

.h-black-friday-discount-tag__wrapper[data-v-f276a9ad]{
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  transform: rotate(-6deg);
}

.h-black-friday-discount-tag[data-v-f276a9ad]{
  display: inline-flex;
    margin-left: 8px;
    margin-top: -18px;
    bottom: 0px;
    position: absolute;
}


button.str-chat__message-simple__actions__action.str-chat__message-simple__actions__action--thread.str-chat__message-reply-in-thread-button{
  display: none !important;
}

/*hide scroll to top*/
@media (max-width: 767px) {
  #scrollToTop {
    display: none;
  }

  #brownButton{
    width: 100% !important;
    font-size: 15px !important;
    padding: 15px !important;
  }

  .wrapper .question-container{
    font-size: 15.5px;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .wrapper .answer-container{
    padding: 0 1rem;
  }

  .wrapper .answer-content {
    font-size: 15.5px;
    padding: 1rem 0rem;
  }

  .wp-block-table td, .wp-block-table th {
    padding: .4em;
    font-size: 14px;
  }
  .column-text{
    font-size: 14.5px;
  }
/* .str-video__speaker-layout__wrapper{
    height: 90vh !important;
  } */

  .str-video__speaker-layout__participants-bar-buttons-wrapper{
    position: absolute !important;
    bottom: 15% !important;
    right: 5% !important;
  }

  .str-video__speaker-layout .str-video__participant-view{
    aspect-ratio: 3/4 !important;
  }
  .str-video__speaker-layout .str-video__speaker-layout__participants-bar-wrapper .str-video__speaker-layout__participants-bar .str-video__speaker-layout__participant-tile{
    width: 110px !important;
    min-width: 110px !important;
  }

  img.str-video__video-placeholder__avatar{
    height: 70px !important;
    width: 70px !important;
  }

  .str-video__speaker-layout__spotlight{
    height: 85vh !important;
  }


  .str-video__speaker-layout.str-video__speaker-layout--variant-bottom{
    position: relative !important;
  }

  .str-video__speaker-layout.str-video__speaker-layout--variant-top{
    position: relative !important;
  }

  .str-video__participant-view{
    max-height: 85vh !important;
  }

  /* video.str-video__video{
    object-fit: cover;
  } */

  /* .str-video__speaker-layout__spotlight .str-video__participant-view.str-video__participant-view--no-video.str-video__participant-view--no-audio{
    height: 95vh !important;
  } */

  .str-video__participant-view{
    max-width: 100vw !important;
    border-radius: 0px !important;
    /* height: 90vh !important; */
  }

  .bg-gray-900\/50.dark\:bg-gray-900\/80.fixed.inset-0.z-30{
    display: none;
  }

  /* .str-video__video--tall{
    object-fit: cover !important;
  } */

  .str-video__speaker-layout .str-video__speaker-layout__participants-bar-wrapper .str-video__speaker-layout__participants-bar{
    flex-direction: row !important;
  }

  #VideoSDKfooter .str-video__icon{
    width: 1.2rem;
    height: 1.2rem;
  }

  #modalbody{
    padding: 10px 30px 30px 20px;
  }

  .h-black-friday-discount-tag__text--neon[data-v-f276a9ad]{
    font-size: 14px;
  }
}


@media (max-width: 1024px){
  .rbc-event{
    padding: 5px 5px ;
  }
}
